
<section class="container-sm p-5">
    <form class="">
        <section class="form-group">
            <H1 class="text-center">LOGIN</H1>
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </section>
        <section class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </section>
        <section class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remenber me</label>
        </section>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>